---
import Background from "../components/Background.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import Hello from "../components/Hello.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Khalid Rinaldy">
  <Hello />
  <div class="lg:pl-24 lg:pr-32">
    <Background />
    <ExperienceSection />
  </div>
</Layout>

<style></style>
