---
import Background from "../components/Background.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import Hello from "../components/Hello.astro";
import Layout from "../layouts/Layout.astro";
import FeaturedProjectsSection from "../components/FeaturedProjectsSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Khalid Rinaldy">
  <Hello />
  <div class="lg:pl-24 lg:pr-32">
    <Background />
    <ExperienceSection />
    <FeaturedProjectsSection/>
  </div>
  <Footer />
</Layout>

<style></style>
