<div
  class="flex flex-col lg:flex-row lg:justify-between md:flex-row sm:flex-col mb-24"
>
  <div
    class="lg:flex-1 lg:basis-1/4 lg:mr-12 lg:mb-0 md:mb-4 sm:mb-4 mb-4 mr-12"
  >
    <p class="text-lg text-grey-700 font-bold">BACKGROUND</p>
  </div>
  <div class="lg:flex-1 lg:basis-3/5 px-4 py-4">
    <p class="text-md text-grey-700 leading-relaxed">
      I am a mobile developer at PT Nusantara Infrastructure. I have developed
      mobile application features to meet the company's exceptional business
      needs.

      <br /><br />While in college I started exploring Fullstack Web development and
      found great joy in the ever-evolving world of web development. This
      eventually led me to learn mobile app development using Flutter. Now, I've
      been working as a Mobile Developer with Flutter for 2+ years.

      <br /><br />I'm also passionate about games and movies. For your
      information, I've spent over 8,000 hours playing Dota 2, which might make
      me a bit of a fanatic or even a freak :)
    </p>
  </div>
</div>
