---
import { ExperienceData } from "../data/ExperienceData";
import Experience from "./Experience.astro";
---

<div
  class="flex flex-col lg:flex-row lg:justify-between md:flex-row sm:flex-col mb-24"
>
  <div
    class="lg:flex-1 lg:basis-1/4 lg:mr-12 lg:mb-0 md:mb-4 sm:mb-4 mb-4 mr-12"
  >
    <p class="text-lg text-grey-700 font-bold">EXPERIENCES</p>
  </div>
  <div class="flex flex-col lg:flex-1 lg:basis-3/5">
    {ExperienceData.map((data) => <Experience experience={data} />)}
  </div>
</div>
