<div class="flex flex-col mt-64 text-md text-primary">
    <p>Designed in Figma & Inspired from <a class="underline" href="https://v3.brittanychiang.com/" target="_blank">V3 Britanny Chiang</a>.</p>
    <p>Developed using Astro JS</p>
    <br/>
    <p>© 2025 Khalid Rinaldy. All rights reserved.</p>
</div>