---
import icGithub from "../assets/icons/ic_github.svg?raw";
import icLinkedin from "../assets/icons/ic_linkedin.svg";
---

<div class="mb-24">
  <h1 class="text-5xl font-light text-text-primary mb-8">Hello 👋</h1>
  <p
    class="text-4xl font-light text-text-primary xl:w-3/5 lg:w-3/5 md:w-4/5 sm:w-5/5 leading-relaxed"
  >
    I’m <b>Khalid Rinaldy</b>. I design and develop robust, scalable, and
    user-focused software solutions that drive innovation and enhance user
    experiences.
  </p>
  <div class="flex flex-row mt-24">
    <!-- Github Icon -->
    <a href="https://github.com/khalidrinaldy" target="_blank"
      ><svg
        class="w-12 h-12 fill-grey-700 hover:fill-text-primary mr-6"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M19.9999 3.33333C10.7916 3.33333 3.33325 10.7917 3.33325 20C3.33325 27.375 8.10408 33.6042 14.7291 35.8125C15.5624 35.9583 15.8749 35.4583 15.8749 35.0208C15.8749 34.625 15.8541 33.3125 15.8541 31.9167C11.6666 32.6875 10.5833 30.8958 10.2499 29.9583C10.0624 29.4792 9.24992 28 8.54159 27.6042C7.95825 27.2917 7.12492 26.5208 8.52075 26.5C9.83325 26.4792 10.7708 27.7083 11.0833 28.2083C12.5833 30.7292 14.9791 30.0208 15.9374 29.5833C16.0833 28.5 16.5208 27.7708 16.9999 27.3542C13.2916 26.9375 9.41659 25.5 9.41659 19.125C9.41659 17.3125 10.0624 15.8125 11.1249 14.6458C10.9583 14.2292 10.3749 12.5208 11.2916 10.2292C11.2916 10.2292 12.6874 9.79166 15.8749 11.9375C17.2083 11.5625 18.6249 11.375 20.0416 11.375C21.4583 11.375 22.8749 11.5625 24.2083 11.9375C27.3958 9.77083 28.7916 10.2292 28.7916 10.2292C29.7083 12.5208 29.1249 14.2292 28.9583 14.6458C30.0208 15.8125 30.6666 17.2917 30.6666 19.125C30.6666 25.5208 26.7708 26.9375 23.0624 27.3542C23.6666 27.875 24.1874 28.875 24.1874 30.4375C24.1874 32.6667 24.1666 34.4583 24.1666 35.0208C24.1666 35.4583 24.4791 35.9792 25.3124 35.8125C28.6211 34.6955 31.4961 32.5691 33.5329 29.7325C35.5697 26.896 36.6657 23.4921 36.6666 20C36.6666 10.7917 29.2083 3.33333 19.9999 3.33333Z"
        ></path>
      </svg></a
    >

    <!-- Linkedin Icon -->
    <a href="https://www.linkedin.com/in/khalid-rinaldy-4027b1112/" target="_blank"
      ><svg
        class="w-12 h-12 fill-grey-700 hover:fill-text-primary mr-6"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M36.6666 5.78431V34.2157C36.6666 34.8657 36.4084 35.4891 35.9487 35.9488C35.4891 36.4084 34.8656 36.6667 34.2156 36.6667H5.78423C5.13419 36.6667 4.51078 36.4084 4.05113 35.9488C3.59148 35.4891 3.33325 34.8657 3.33325 34.2157V5.78431C3.33325 5.13427 3.59148 4.51085 4.05113 4.0512C4.51078 3.59156 5.13419 3.33333 5.78423 3.33333L34.2156 3.33333C34.8656 3.33333 35.4891 3.59156 35.9487 4.0512C36.4084 4.51085 36.6666 5.13427 36.6666 5.78431ZM13.1372 16.0784H8.23521V31.7647H13.1372V16.0784ZM13.5784 10.6863C13.5809 10.3155 13.5105 9.9478 13.3709 9.60425C13.2314 9.26069 13.0256 8.94798 12.7652 8.68397C12.5049 8.41996 12.1951 8.20982 11.8535 8.06555C11.5119 7.92128 11.1452 7.8457 10.7744 7.84313H10.6862C9.93215 7.84313 9.20898 8.14268 8.67579 8.67587C8.1426 9.20906 7.84306 9.93222 7.84306 10.6863C7.84306 11.4403 8.1426 12.1635 8.67579 12.6967C9.20898 13.2299 9.93215 13.5294 10.6862 13.5294C11.057 13.5385 11.426 13.4745 11.7721 13.341C12.1181 13.2074 12.4345 13.007 12.7031 12.7512C12.9717 12.4954 13.1872 12.1891 13.3374 11.8499C13.4876 11.5108 13.5694 11.1453 13.5784 10.7745V10.6863ZM31.7646 22.2353C31.7646 17.5196 28.7646 15.6863 25.7842 15.6863C24.8084 15.6374 23.8368 15.8453 22.9664 16.2891C22.0959 16.7329 21.357 17.3972 20.8235 18.2157H20.6862V16.0784H16.0784V31.7647H20.9803V23.4216C20.9095 22.5671 21.1786 21.7192 21.7293 21.062C22.28 20.4048 23.0678 19.9915 23.9215 19.9118H24.1078C25.6666 19.9118 26.8234 20.8922 26.8234 23.3627V31.7647H31.7254L31.7646 22.2353Z"
        ></path>
      </svg></a
    >

    <!-- Instagram Icon -->
    <a href="https://www.instagram.com/khalid_chomp/" target="_blank"
      ><svg
        class="w-12 h-12 fill-grey-700 hover:fill-text-primary mr-6"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M19.9999 3.33333C15.4733 3.33333 14.9066 3.35222 13.1288 3.43333C11.3544 3.51444 10.1421 3.79666 9.08214 4.20888C7.97103 4.62666 6.96325 5.28222 6.12992 6.13111C5.28239 6.96348 4.62643 7.97054 4.2077 9.08222C3.7977 10.1422 3.51436 11.3556 3.43325 13.13C3.35325 14.9067 3.33325 15.4722 3.33325 20C3.33325 24.5278 3.35214 25.0933 3.43325 26.8711C3.51436 28.6456 3.79659 29.8578 4.20881 30.9178C4.62659 32.0289 5.28214 33.0367 6.13103 33.87C6.96342 34.7175 7.97048 35.3735 9.08214 35.7922C10.1421 36.2033 11.3544 36.4856 13.1288 36.5667C14.9066 36.6478 15.4733 36.6667 19.9999 36.6667C24.5266 36.6667 25.0933 36.6478 26.871 36.5667C28.6455 36.4856 29.8577 36.2033 30.9177 35.7911C32.0288 35.3733 33.0366 34.7178 33.8699 33.8689C34.7175 33.0365 35.3734 32.0294 35.7921 30.9178C36.2033 29.8578 36.4855 28.6456 36.5666 26.8711C36.6477 25.0933 36.6666 24.5267 36.6666 20C36.6666 15.4733 36.6477 14.9067 36.5666 13.1289C36.4855 11.3544 36.2033 10.1422 35.791 9.08222C35.3726 7.97007 34.7166 6.96257 33.8688 6.13C33.0364 5.28246 32.0294 4.6265 30.9177 4.20777C29.8577 3.79777 28.6444 3.51444 26.8699 3.43333C25.0933 3.35333 24.5277 3.33333 19.9999 3.33333ZM19.9999 6.33666C24.4499 6.33666 24.9777 6.35333 26.7355 6.43333C28.3599 6.50777 29.2421 6.77777 29.8299 7.00777C30.6077 7.30888 31.1633 7.67111 31.7466 8.25333C32.3299 8.83666 32.691 9.39222 32.9921 10.17C33.221 10.7578 33.4921 11.64 33.5666 13.2644C33.6466 15.0222 33.6633 15.55 33.6633 20C33.6633 24.45 33.6466 24.9778 33.5666 26.7356C33.4921 28.36 33.2221 29.2422 32.9921 29.83C32.7254 30.5539 32.2998 31.2089 31.7466 31.7467C31.2089 32.3 30.5539 32.7256 29.8299 32.9922C29.2421 33.2211 28.3599 33.4922 26.7355 33.5667C24.9777 33.6467 24.451 33.6633 19.9999 33.6633C15.5488 33.6633 15.0221 33.6467 13.2644 33.5667C11.6399 33.4922 10.7577 33.2222 10.1699 32.9922C9.44598 32.7255 8.79104 32.2999 8.25325 31.7467C7.70012 31.2088 7.27451 30.5539 7.0077 29.83C6.77881 29.2422 6.5077 28.36 6.43325 26.7356C6.35325 24.9778 6.33659 24.45 6.33659 20C6.33659 15.55 6.35325 15.0222 6.43325 13.2644C6.5077 11.64 6.7777 10.7578 7.0077 10.17C7.30881 9.39222 7.67103 8.83666 8.25325 8.25333C8.79097 7.70005 9.44593 7.27441 10.1699 7.00777C10.7577 6.77888 11.6399 6.50777 13.2644 6.43333C15.0221 6.35333 15.5499 6.33666 19.9999 6.33666Z"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M19.9999 25.5611C19.2697 25.5611 18.5465 25.4173 17.8718 25.1378C17.1971 24.8583 16.584 24.4487 16.0676 23.9323C15.5512 23.4159 15.1416 22.8028 14.8621 22.1281C14.5827 21.4534 14.4388 20.7303 14.4388 20C14.4388 19.2697 14.5827 18.5466 14.8621 17.8718C15.1416 17.1971 15.5512 16.5841 16.0676 16.0677C16.584 15.5513 17.1971 15.1417 17.8718 14.8622C18.5465 14.5827 19.2697 14.4389 19.9999 14.4389C21.4748 14.4389 22.8893 15.0248 23.9322 16.0677C24.9752 17.1106 25.5611 18.5251 25.5611 20C25.5611 21.4749 24.9752 22.8894 23.9322 23.9323C22.8893 24.9752 21.4748 25.5611 19.9999 25.5611ZM19.9999 11.4333C17.7279 11.4333 15.549 12.3359 13.9424 13.9424C12.3358 15.549 11.4333 17.728 11.4333 20C11.4333 22.272 12.3358 24.451 13.9424 26.0575C15.549 27.6641 17.7279 28.5667 19.9999 28.5667C22.272 28.5667 24.4509 27.6641 26.0575 26.0575C27.6641 24.451 28.5666 22.272 28.5666 20C28.5666 17.728 27.6641 15.549 26.0575 13.9424C24.4509 12.3359 22.272 11.4333 19.9999 11.4333ZM31.0588 11.2778C31.0588 11.8148 30.8455 12.3299 30.4657 12.7097C30.086 13.0894 29.5709 13.3028 29.0338 13.3028C28.4968 13.3028 27.9817 13.0894 27.6019 12.7097C27.2222 12.3299 27.0088 11.8148 27.0088 11.2778C27.0088 10.7407 27.2222 10.2256 27.6019 9.84588C27.9817 9.46612 28.4968 9.25277 29.0338 9.25277C29.5709 9.25277 30.086 9.46612 30.4657 9.84588C30.8455 10.2256 31.0588 10.7407 31.0588 11.2778Z"
        ></path>
      </svg></a
    >
  </div>
</div>
